
.m_ourteam{
    padding-top: 20px;
    
}

header{
  background-color: rgba(110, 79, 2, 0.082); 
}

main{
    background-color: rgba(110, 79, 2, 0.305);
    border-top: 1px solid rgba(98, 70, 0, 0.647);
}



